<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('layout/header'); %>
    </header>
    <div>
        <h2><%= newData.type%></h2>
        <p><%= newData.setup%></p>
        <p><%= newData.punchline%></p>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="app.js"></script>

</body>
</html>